@font-face {
    font-family: myFirstFont;
    src: url("1/deftone-stylus.ttf");
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #F8F6E9;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    padding: 40px 200px;
    z-index: 1000;
    transition: 0.6s;
    padding: 5px 200px;
    background: #131E60;
    opacity: 0.9;
}
header>.logo{
    height: 80px;
    padding-right: 1000px;
}
header>ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 400px;
}
header>ul>li{
    list-style: none;
}
header>ul>li>a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: larger;
    font-weight: 500px;
    padding: 10px 10px;;
}
header>ul>li>a:hover {
    color: #FFB319;
  }
article{
    min-height: 1000px;
    background-color: #F8F6E9;
    padding-top: 150px;
}
.faq{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 70px;
    font-family: myFirstFont;
    color: #131E60;
    background-color: #F8F6E9;
}
.cauhoi{
    padding-left: 70px;
}
table{
    font-size: 19px;
    width: 800px;
}
tr:nth-child(2n+1){
    background-color: #131E60;
    color: white;
}
td{
    padding: 20px 20px 20px 20px;
}